<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>lcf-test</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="../static/css/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">量财富开发平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="lcfindex"><i class="fa fa-dashboard"></i>首页</a></li>
            <li><a href="lcfpack"><i class="fa fa-bar-chart-o"></i> 打包平台</a></li>
            <li><a href="lcfauto"><i class="fa fa-table"></i> 自动化测试</a></li>
            <li class="active"><a href="lcfinter"><i class="fa fa-edit"></i> 接口测试</a></li>
            <li><a href="#"><i class="fa fa-font"></i> 安全测试</a></li>
            <li><a href="#"><i class="fa fa-desktop"></i> 问题反馈</a></li>
            <li><a href="#"><i class="fa fa-wrench"></i> 待定</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
       <div id="page-wrapper" style="min-height: 899px;">
            <div class="row">
                <div class="col-lg-6">
                                    <h1>接口脚本选择</h1>

                                            <div class="form-group">
                                                <label for="disabledSelect">请选择</label>
                                                <select id="disabledSelect" class="form-control" name="auto">
                                                    <option value="1">首页</option>
                                                    <option value="2">基金</option>
                                                    <option value="3">股票</option>
                                                    <option value="4">咨询</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary" >确认</button>



                                </div>
                <div class="col-lg-6">
                        <h2>结果展示</h2>
                    </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            </div>
    </div><!-- /#wrapper -->

    <!-- JavaScript -->
   <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jhk.js"></script>

  </body>
</html>